<!DOCTYPE html>
<html lang="uk">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/icon.png' %}">
    <link href="{% static 'libs/beer/beer.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script type="module" src="{% static 'libs/beer/beer.min.js' %}"></script>
    <script type="module" src="{% static 'libs/beer/material-dynamic-colors.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
</head>
<body class="small-blur dark">
<div class="snackbar success" id="snackbar-success">
    <i>done</i>
    <span>Success</span>
</div>
<div class="snackbar error" id="snackbar-error">
    <i>error</i>
    <span>Error</span>
</div>
{% block content %}
{% endblock content %}
</body>
</html>
