{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
    <main class="responsive">
        <div class="responsive grid large-space">
            <div class="s12 m6 l6">
                {% include 'components/buyer.html' %}
            </div>
            <div class="s12 m6 l6">
                {% include 'components/buy.html' %}
            </div>
            <div class="s12 m6 l6">
                {% include 'components/seller.html' %}
            </div>
            <div class="s12 m6 l6">
                {% include 'components/sell.html' %}
            </div>
            <div class="s12 m6 l6">
                {% include 'components/goal.html' %}
            </div>
            <div class="s12 m6 l6">
                {% include 'components/deal.html' %}
            </div>
            <div class="s12 m12 l12">
                {% include 'components/buttons.html' %}
            </div>
        </div>
    </main>
    {% include 'components/message.html' %}
    {% include 'components/settings.html' %}
    <script>
        const API_UPDATE_SELLER_URL = "{% url 'api-update-seller' seller.id %}";
        const API_CREATE_TRANSACTION_URL = "{% url 'api-create-transaction' %}";
        const SELLER_BALANCE = {{ seller.balance }};
        const SELLER_ID = "{{ seller.id }}";
        const BUYER_ID = "{{ buyer.id }}";
    </script>
    <script src="{% static 'js/components/message.js' %}"></script>
    <script src="{% static 'js/components/settings.js' %}"></script>
    <script src="{% static 'js/game.js' %}"></script>
{% endblock content %}
