{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
    <main class="responsive">
        <div class="responsive grid large-space">
            <div class="s12 m6 l6">
                {% include 'components/buyer.html' %}
            </div>
            <div class="s12 m6 l6">
                {% include 'components/buy.html' %}
            </div>
            <div class="s12 m6 l6">
                {% include 'components/seller.html' %}
            </div>
            <div class="s12 m6 l6">
                {% include 'components/sell.html' %}
            </div>
            <div class="s12 m6 l6">
                {% include 'components/goal.html' %}
            </div>
            <div class="s12 m6 l6">
                {% include 'components/deal.html' %}
            </div>
            <div class="s12 m12 l12">
                {% include 'components/buttons.html' %}
            </div>
        </div>
    </main>
    <dialog class="max" id="dialog-do-not-show">
        <h5>Before you start playing...</h5>
        <div>
            <p>Since the game currently does not support authorization and authentication,
                your unique player identifier is: <b>{{ seller.id }}</b>.</p>
            <p><b>Important</b>: Please do not share this identifier to ensure the security of your game progress.</p>
        </div>
        <nav class="left-align no-space">
            <label class="checkbox">
                <input type="checkbox" id="checkbox-do-not-show">
                <span>Do not show this message again.</span>
            </label>
        </nav>
        <nav class="left-align no-space">
            <button class="primary" id="button-do-not-show">Confirm</button>
        </nav>
    </dialog>
    <script src="{% static 'js/game.js' %}"></script>
{% endblock content %}
