{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
    <main class="responsive">
        <div class="responsive grid large-space">
            <div class="s12 m6 l6">
                {% include 'components/buyer.html' %}
            </div>
            <div class="s12 m6 l6">
                {% include 'components/buy.html' %}
            </div>
            <div class="s12 m6 l6">
                {% include 'components/seller.html' %}
            </div>
            <div class="s12 m6 l6">
                {% include 'components/sell.html' %}
            </div>
            <div class="s12 m6 l6">
                {% include 'components/goal.html' %}
            </div>
            <div class="s12 m6 l6">
                {% include 'components/deal.html' %}
            </div>
            <div class="s12 m12 l12">
                {% include 'components/buttons.html' %}
            </div>
        </div>
    </main>
    {% include 'components/message.html' %}
    {% include 'components/settings.html' %}
    <script src="{% static 'js/game.js' %}"></script>
{% endblock content %}
